.hero-main-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: solid;
}

.input-box-div {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.btn-section {
    display: flex;
    justify-content: center;

}

.input-box {
    height: 13vh;
    width: 28vw;
    border-color: #D5D4D8;
    border-radius: 5px;

}

.input-box:hover {
    border-color: #6551a1;

}

.hero-btn {
    height: 3em;
    width: 28em;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    border-radius: 10px;
    color: aliceblue;
    font-size: 1.5em;
}

.meme {
    display: flex;
    justify-content: center;
    position: relative;
    border: solid;


}

.meme--text-top {
    position: absolute;
    height: fit-content;
    /* top: 0vh; */

}

.meme--text-bottom {
    position: absolute;
    height: fit-content;
    bottom: 0vh;

}

.meme--image {
    height:100%;
    width: 100%;
}