.Nav-main-container {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);

}

.nav-img {
    height: 4em;
    width: auto;
}

.Nav-container-1 {
    display: flex;
    font-size: 2em;
    color: aliceblue;
}

.nav-p {
    display: flex;
    font-size: 2em;
    color: aliceblue;
}